// Design System
html,
body {
  @apply h-screen m-0 p-0 text-sm bg-blueGrey-100;

  font-family: 'Montserrat', sans-serif;
}

.card {
  @apply rounded-lg p-6 flex flex-col gap-6;
  min-width: 324px;
  min-height: 324px;
  transition: all ease 0.2s;
  &.extended {
    @apply relative;
    &::before {
      @apply bg-blueGrey-50 absolute border-dashed border-orange-0 border-2 w-full h-full rounded-lg top-0 left-0;
      content: '';
      display: block;
      z-index: 0;
    }
    .card {
      z-index: 1;
    }
  }
  &:hover {
    @apply border-orange-0 shadow-3;
  }
}
h1 {
  font-size: 2.25rem;
  @apply text-primaryBlue;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
  line-height: 100%;
}
h6 {
  font-size: 1.25rem;
}
.h7 {
  font-size: 1rem;
}
.h8 {
  font-size: 0.875rem;
  font-weight: 800;
}
h1,
h2,
h3,
h4,
h6,
.h7 {
  @apply m-0;
  font-weight: 600;
  line-height: 150%;
}
p {
  margin-bottom: 0.625rem;
}
small {
  font-size: 0.75rem;
}
a {
  @apply text-orange-0;
  text-decoration: none;
  &.active[routerlinkactive='active'] {
    @apply text-primaryBlue;
    svg > path {
      @apply stroke-primaryBlue;
    }
  }
}
.svg.hover\:stroke-orange-0:hover > path {
  @apply stroke-orange-0;
}
.btn {
  @apply rounded-md block h-10 px-5;
  font-weight: 600;
  &.secondary {
    @apply bg-white text-orange-0 border border-blueGrey-300;
    &:hover {
      @apply border-orange-0;
    }
    &:active {
      @apply text-orange-0;
      @apply border-orange-0;
    }
    &:disabled {
      @apply bg-white text-blueGrey-300 border-blueGrey-300 #{!important};
    }
  }
  &:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }
  &:hover:active {
    @apply shadow-none;
  }
  &:disabled {
    @apply text-blueGrey-400 border-blueGrey-200 cursor-not-allowed hover:shadow-none #{!important};
  }
}

select {
  @apply bg-white border border-blueGrey-400 rounded-md;
}

// Tailwindcss helper
.pb-full {
  padding-bottom: 100%;
}
.w-110full {
  width: calc(100% + 1.25rem);
}
.h-110full {
  height: calc(100% + 1.25rem);
}

// Form
input,
button {
  @apply border-solid;
}
input {
  &[type='text'],
  &[type='password'] {
    @apply h-10 border border-blueGrey-400 rounded-md shadow-none outline-none;
  }
  &:focus {
    @apply outline-none shadow-none ring-offset-0 ring-0 border-primaryBlue #{!important};
  }
  &.ng-invalid {
    @apply border-orange-0;
  }
}

input[type='radio'] + label span {
  transition: all 0.2s, transform 0.2s;
}

input[type='radio'] + label span:hover,
input[type='radio'] + label:hover span {
  transform: scale(1.2);
}

input[type='radio']:checked + label span {
  @apply bg-lightBlue-1;
  box-shadow: 0 0 0 0.125rem white inset;
}

input[type='radio']:checked + label {
  @apply text-lightBlue-1;
}

p {
  @apply mb-4;
}

.btn {
  @apply bg-orange-0 h-10 rounded-md text-white flex items-center justify-center cursor-pointer border border-orange-0;
  &:active {
    @apply text-orange-3;
  }
  &:hover {
    @apply shadow-1;
  }
  &:disabled {
    @apply bg-blueGrey-200 text-blueGrey-400 border-blueGrey-200;
  }
}
.btn-rounded {
  @apply bg-white h-10 rounded-md text-orange-0 flex items-center justify-center cursor-pointer border border-blueGrey-300;
  &:active {
    @apply border-orange-0 text-orange-0;
  }
  &:hover {
    @apply shadow-1;
  }
  &:disabled {
    @apply border-blueGrey-300 text-blueGrey-300 bg-white;
    &:hover {
      @apply shadow-none cursor-not-allowed;
    }
  }
}
.error {
  @apply px-3 mt-1;
}

.mydp {
  @apply border-black border rounded-md border-r-2 #{!important};

  input[ngtype='text'] {
    @apply py-2 px-3;
    font-family: 'Montserrat', sans-serif !important;
  }
}

.small-card {
  width: 256px;
  height: 256px;
  @apply rounded-md items-center text-blueGrey-400 flex p-6 flex-shrink-0 transition-shadow ease-linear;
}

.carousel-caption {
  top: 5.625rem;
  color: var(--primaryBlue);
}
.mat-table {
  font-family: 'Montserrat', sans-serif;
}
table {
  @apply rounded-tl-[4px] rounded-tr-[4px] overflow-hidden;
  thead > tr > th.mat-header-cell {
    @apply bg-primaryBlue text-white font-bold;
  }
}
.cdk-overlay-container .mat-dialog-container {
  @apply rounded-lg;
}
