@media (min-width: 1024px) {
  body {
    @apply text-xl;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.375rem;
  }
  .h7 {
    font-size: 1.25rem;
  }
  .h8 {
    font-size: 1.125rem;
  }
  .btn,
  input[type='text'],
  input[type='password'] {
    @apply h-12;
  }
}
